[package]
name = "squirrel"
version.workspace = true
authors.workspace = true
homepage.workspace = true
repository.workspace = true
license-file.workspace = true
edition.workspace = true

[dependencies]
squirrel-sys = { path = "../squirrel-sys" }

[build-dependencies]
cc = "1.2"