name: Build Crate

on:
  push:
    branches: [ main ]
    tags:
      - '*'
  pull_request:
    branches: [ main ]

env:
  IS_RELEASE: ${{ startsWith(github.ref, 'refs/tags/') }}
  OUTPUT_PATH: "./target/release/cri-cpk-extractor-cli"
  RELEASE_TAG: ${{ github.ref_name }}
  RELEASE_PATH: "./Release"

jobs:
  build:
    strategy:
      matrix:
        platform: [
          { 
            # Ubuntu
            runner-name: "ubuntu-latest",
            rust-target: "x86_64-unknown-linux-gnu",
            release-name: "[CPK Extractor] Linux Release",
            rust-flags: "-Ctarget-feature=+avx2",
          },
          { 
            # Windows
            runner-name: "windows-latest",
            rust-target: "x86_64-pc-windows-msvc",
            release-name: "[CPK Extractor] Windows Release",
            rust-flags: "-Ctarget-feature=+avx2",
          }
        ]
    runs-on: ${{ matrix.platform.runner-name }}

    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
        submodules: 'recursive'

    - name: Setup Rust
      uses: actions-rust-lang/setup-rust-toolchain@v1.15.2
      with:
        toolchain: stable 
        components: rust-src
        target: ${{ matrix.platform.rust-target }}
        rustflags: ${{ matrix.platform.rust-flags }}

    - name: Build Project
      uses: actions-rs/cargo@v1
      with:
        command: build
        args: --release

    - name: Upload Output (Linux)
      uses: actions/upload-artifact@v4
      with:
        if: matrix.platform.runner-name == 'ubuntu-latest'
        name: ${{ matrix.platform.release-name }}
        path: ${{ env.OUTPUT_PATH }}

    - name: Upload Output (Windows)
      uses: actions/upload-artifact@v4
      with:
        if: matrix.platform.runner-name != 'ubuntu-latest'
        name: ${{ matrix.platform.release-name }}
        path: ${{ env.OUTPUT_PATH }}.exe
  publish:
    needs: build
    runs-on: "windows-latest"
    steps:
      - uses: actions/checkout@v2
        if: env.IS_RELEASE == 'true'
        with:
          fetch-depth: 0
          submodules: 'recursive'

      - name: Download Linux Release
        uses: actions/download-artifact@v5
        if: env.IS_RELEASE == 'true'
        with:
          name: ${{ '[CPK Extractor] Linux Release' }}
          path: ${{ env.RELEASE_PATH }}

      - name: Download Windows Release
        uses: actions/download-artifact@v5
        if: env.IS_RELEASE == 'true'
        with:
          name: ${{ '[CPK Extractor] Windows Release' }}
          path: ${{ env.RELEASE_PATH }}

      - name: Upload to GitHub Releases (on Tag)
        uses: softprops/action-gh-release@v0.1.14
        if: env.IS_RELEASE == 'true'
        with:
          # Path to load note-worthy description of changes in release from
          body_path: "CHANGELOG.md"
          # Newline-delimited list of path globs for asset files to upload
          files: ${{ env.RELEASE_PATH }}/*